fastapi==0.128.0
uvicorn==0.40.0
sqlalchemy==2.0.46
psycopg2==2.9.11
pydantic==2.12.5
python-multipart==0.0.22
email-validator==2.3.0
httpx==0.28.1
jinja2==3.1.6
python-jose==3.5.0
passlib==1.7.4
bcrypt  # для passlib
cryptography==46.0.5